pip install pandas

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('3883533.csv')

In [6]:
print(df)

           STATION                    NAME        DATE  TAVG  TMAX  TMIN
0      UKE00105860         NEWTON RIGG, UK  2023-07-01   NaN   NaN   NaN
1      UKE00105860         NEWTON RIGG, UK  2023-08-01   NaN   NaN   NaN
2      UKE00105860         NEWTON RIGG, UK  2023-08-02   NaN   NaN   NaN
3      UKE00105860         NEWTON RIGG, UK  2023-08-03   NaN   NaN   NaN
4      UKE00105860         NEWTON RIGG, UK  2023-08-04   NaN   NaN   NaN
...            ...                     ...         ...   ...   ...   ...
30807  UKE00156868  MORECAMBE NUMBER 2, UK  2023-12-27   NaN  51.0  39.0
30808  UKE00156868  MORECAMBE NUMBER 2, UK  2023-12-28   NaN  48.0  42.0
30809  UKE00156868  MORECAMBE NUMBER 2, UK  2023-12-29   NaN  50.0  45.0
30810  UKE00156868  MORECAMBE NUMBER 2, UK  2023-12-30   NaN  46.0  40.0
30811  UKE00156868  MORECAMBE NUMBER 2, UK  2023-12-31   NaN  50.0  41.0

[30812 rows x 6 columns]

In [7]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [14]:
print(df)

           STATION                    NAME       DATE  TAVG  TMAX  TMIN  \
0      UKE00105860         NEWTON RIGG, UK 2023-07-01   NaN   NaN   NaN
1      UKE00105860         NEWTON RIGG, UK 2023-08-01   NaN   NaN   NaN
2      UKE00105860         NEWTON RIGG, UK 2023-08-02   NaN   NaN   NaN
3      UKE00105860         NEWTON RIGG, UK 2023-08-03   NaN   NaN   NaN
4      UKE00105860         NEWTON RIGG, UK 2023-08-04   NaN   NaN   NaN
...            ...                     ...        ...   ...   ...   ...
30807  UKE00156868  MORECAMBE NUMBER 2, UK 2023-12-27   NaN  51.0  39.0
30808  UKE00156868  MORECAMBE NUMBER 2, UK 2023-12-28   NaN  48.0  42.0
30809  UKE00156868  MORECAMBE NUMBER 2, UK 2023-12-29   NaN  50.0  45.0
30810  UKE00156868  MORECAMBE NUMBER 2, UK 2023-12-30   NaN  46.0  40.0
30811  UKE00156868  MORECAMBE NUMBER 2, UK 2023-12-31   NaN  50.0  41.0

      YEAR_MONTH
0        2023-07
1        2023-08
2        2023-08
3        2023-08
4        2023-08
...          ...
30807    2023-12
30808    2023-12
30809    2023-12
30810    2023-12
30811    2023-12

[30812 rows x 7 columns]

In [8]:
print(df)

           STATION                    NAME       DATE  TAVG  TMAX  TMIN
0      UKE00105860         NEWTON RIGG, UK 2023-07-01   NaN   NaN   NaN
1      UKE00105860         NEWTON RIGG, UK 2023-08-01   NaN   NaN   NaN
2      UKE00105860         NEWTON RIGG, UK 2023-08-02   NaN   NaN   NaN
3      UKE00105860         NEWTON RIGG, UK 2023-08-03   NaN   NaN   NaN
4      UKE00105860         NEWTON RIGG, UK 2023-08-04   NaN   NaN   NaN
...            ...                     ...        ...   ...   ...   ...
30807  UKE00156868  MORECAMBE NUMBER 2, UK 2023-12-27   NaN  51.0  39.0
30808  UKE00156868  MORECAMBE NUMBER 2, UK 2023-12-28   NaN  48.0  42.0
30809  UKE00156868  MORECAMBE NUMBER 2, UK 2023-12-29   NaN  50.0  45.0
30810  UKE00156868  MORECAMBE NUMBER 2, UK 2023-12-30   NaN  46.0  40.0
30811  UKE00156868  MORECAMBE NUMBER 2, UK 2023-12-31   NaN  50.0  41.0

[30812 rows x 6 columns]

In [12]:
new_df = df.drop(columns=['STATION'])
new_df = new_df.drop(columns=['TAVG'])

In [13]:
print(new_df)

                         NAME       DATE  TMAX  TMIN
0             NEWTON RIGG, UK 2023-07-01   NaN   NaN
1             NEWTON RIGG, UK 2023-08-01   NaN   NaN
2             NEWTON RIGG, UK 2023-08-02   NaN   NaN
3             NEWTON RIGG, UK 2023-08-03   NaN   NaN
4             NEWTON RIGG, UK 2023-08-04   NaN   NaN
...                       ...        ...   ...   ...
30807  MORECAMBE NUMBER 2, UK 2023-12-27  51.0  39.0
30808  MORECAMBE NUMBER 2, UK 2023-12-28  48.0  42.0
30809  MORECAMBE NUMBER 2, UK 2023-12-29  50.0  45.0
30810  MORECAMBE NUMBER 2, UK 2023-12-30  46.0  40.0
30811  MORECAMBE NUMBER 2, UK 2023-12-31  50.0  41.0

[30812 rows x 4 columns]

In [14]:
new_df['MONTH'] = new_df['DATE'].dt.month

In [15]:
print(new_df)

                         NAME       DATE  TMAX  TMIN  MONTH
0             NEWTON RIGG, UK 2023-07-01   NaN   NaN      7
1             NEWTON RIGG, UK 2023-08-01   NaN   NaN      8
2             NEWTON RIGG, UK 2023-08-02   NaN   NaN      8
3             NEWTON RIGG, UK 2023-08-03   NaN   NaN      8
4             NEWTON RIGG, UK 2023-08-04   NaN   NaN      8
...                       ...        ...   ...   ...    ...
30807  MORECAMBE NUMBER 2, UK 2023-12-27  51.0  39.0     12
30808  MORECAMBE NUMBER 2, UK 2023-12-28  48.0  42.0     12
30809  MORECAMBE NUMBER 2, UK 2023-12-29  50.0  45.0     12
30810  MORECAMBE NUMBER 2, UK 2023-12-30  46.0  40.0     12
30811  MORECAMBE NUMBER 2, UK 2023-12-31  50.0  41.0     12

[30812 rows x 5 columns]

In [18]:
for month, group in new_df.groupby('MONTH'):
    
    filename = f"month_{month}.csv"
    group.to_csv(filename, index=False)

    print(f"Saved: {filename}")

Saved: month_1.csv
Saved: month_2.csv
Saved: month_3.csv
Saved: month_4.csv
Saved: month_5.csv
Saved: month_6.csv
Saved: month_7.csv
Saved: month_8.csv
Saved: month_9.csv
Saved: month_10.csv
Saved: month_11.csv
Saved: month_12.csv